<!doctype html>
<html ng-app="NarrowItDownApp" lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div ng-controller="NarrowItDownController as narrowCtrl" class="container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input ng-model="narrowCtrl.searchTerm" type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="narrowCtrl.narrow()"class="btn btn-primary">Narrow It Down For Me!</button>
    </div>

    <br/><br/><br/>

    <div>
      <div ng-if="narrowCtrl.found.length == 0 || !narrowCtrl.found">Nothing found!</div>
      <div ng-if="narrowCtrl.found.length > 0">

      <found-item found-items="narrowCtrl.found" on-remove="narrowCtrl.remove(index)"></found-item>

      </div>
      <!-- Bonus loader (see Bonus section of the assignment) -->
      <items-loader-indicator></items-loader-indicator>

      <!-- found-items should be implemented as a component -->
      <!--found-items found-items="...." on-remove="...."></found-items-->
    </div>
  </div>

</body>
</html>
